<!-- footer -->	 
<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>View More Projects </h6>
          <p class="text-justify">
      Visit My <a href="https://github.com/jjjooeyyy">GitHub</a> Profile <br>
        </div>
  
        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="/about">About Us</a></li>
            <li><a href="/recipe">Recipes</a></li>
            <li><a href="/share">Share With Us</a></li>
            <li><a href="/subscribe">Subscribe</a></li>
          </ul>
        </div>
  
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by by Joey.
          </p>
        </div>
  
        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa-brands fa-github"></i></a></li>
            <li><a class="instagram" href="https://www.instagram.com/hello.world_coder/"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a class="linkedin" href="www.linkedin.com/in/joeycheung526"><i class="fa-brands fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


 <!-- AOS -->
 <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

 <!-- AOS initialization -->
 <script>
  AOS.init();
 </script>