<%- include('../views/partials/head.ejs') %>

<body>
    
           <!-- Drop-down nav -->
       <label>
        <input type="checkbox">
        <span class="icon-container"> <span class="hamburger"></span> </span>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/recipe">Recipes</a></li>
            <li><a href="/share">Share With Us</a></li>
            <li><a href="/subscribe">Subscribe</a></li>
          </ul>
          </label>
      
              <div id="parallax-world-of-ugg">
                
                <section>
                    <div class="parallax-one">
                      <h2>Why Eat Out when you can eat in?</h2>
                    </div>
                </section>
                
                <section>
                  <div class="block">
                    <p><span class="first-character">H</span>ere we cook and eat healthy and simple food with natural ingredients, whole grains, good fats, fruit and vegetables.</p>
                    <p class="line-break margin-top-10"></p>
                    <p class="margin-top-10">We hope to inspire you with food that is both approachable AND exciting, whether you’re cooking for yourself, your family, your roommates, or your friends. </p>

                      <br><br>
                  </div>
                </section>
                
                <section>
                  <div class="parallax-two">
                    <h2>our mission</h2>
                  </div>
                </section>
                
                <section>
                  <div class="block">
                    <p><span class="first-character ny">I</span>n this space, we always sharing fresh, flavorful, (mostly) healthy recipes that we love to make and eat in every day life. If we wouldn’t eat it in real life, we won’t put in on the blog. </p>
                    <p class="line-break margin-top-10"></p>
                    <p class="margin-top-10">
                      We would like to create and share recipes that feature real good, real food made for real people. Our recipes are fresh, seasonal, mostly simple, often healthy, and sometimes peppered with a little cheese and butter mixed in.
                    </p>
                  </div>
                </section>
                
                <section>
                  <div class="parallax-three">
                    <h2>Where to start</h2>
                  </div>
                </section>
                
                <section>
                  <div class="block">
                    <p><span class="first-character num">1.</span>To sign up for our newsletter, to have every post delivered straight to your inbox! It’s totally free and you can unsubscribe at any time. No feelings hurt, we promise!</p>
                    <p class="line-break margin-top-10 "></p>
                    <p><span class="first-character num margin-top-10">2.</span>Check out our recipe page that always use fresh ingredients, are mostly healthy, oftentimes seasonal, sometimes decadent.</p>
                    <p class="line-break margin-top-10"></p>
                    <p><span class="first-character num margin-top-10">3.</span>Have a favorite recipe on your mind? Don't hesitate to share your creations with a much larger crowd! </p>  
                    
                  </div>
                </section>
                  
                </div>      

              </main>

    <%- include('../views/partials/footer.ejs') %>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>          
