<%- include('../views/partials/head.ejs') %>

<body>
   <!-- Heading banner-->
  <div class="bg">
      <img src="/images/recipe-bg.jpg">
  </div>
  
       <!-- Drop-down nav -->
      <label>
        <input type="checkbox">
        <span class="icon-container"> <span class="hamburger"></span> </span>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/share">Share With Us</a></li>
            <li><a href="/subscribe">Subscribe</a></li>
          </ul>
          </label>

          <section class="heading">
            <h1>Our Recipes</h1>
                     
                    
                    <!-- Catagories -->
                        <div class="button-container">
                      <button type="button" class="button"><a href="/sweet">Sweet</a></button>
                      <button type="button" class="button "><a href="/savoury">Main</a></button>
                      <button type="button" class="button "><a href="/side">Side</a></button>
                    </div>
                    
            </section>
            
              <br>
            
            <!-- Recipe Card -->
            
            <section id="recipes_container">
                <div class="recipe-card" >
                  <a href="/savoury"><img class="card-image" src="/images/Spinach-Mushroom-French-Bread-Pizzas-V1.jpeg"></a>
                    <div class="card-content">
                    <h5 class="title">SPINACH MUSHROOM FRENCH BREAD PIZZAS</h5>
                    <p class="text">They have a garlic bread base for extra flavor and then are topped with a simple mix of spinach, sautéed mushrooms, and cheese. Simple but perfect!</p>
                </div>
                </div>
            
                <div class="recipe-card" >
                    <a href="/savoury"><img class="card-image" src="/images/OKONOMIYAKI.jpeg"></a>
                    <div class="card-content">
                      <h5 class="title">OKONOMIYAKI</h5>
                      <p class="text">Osaka-style okonomiyaki which is iconic Japanese street food. Okonomiyaki is a melting in your mouth savoury pancake, or giant vegetable bacon fritter, which is crispy outside and tender inside, and packed with cabbage, seafood and pork belly.</p>
                    </div>
                  </div>
            
                  <div class="recipe-card" >
                    <a href="/savoury"><img class="card-image" src="https://www.thelastfoodblog.com/wp-content/uploads/2021/05/tofu-katsu-curry-1.jpg"></a>
                    <div class="card-content">
                        <h5 class="title">Katsu Curry</h5>
                        <p class="text">Anyone who is into Japanese food knows that katsu curry is wickedly wonderful. What makes it stand out from other curries is that the meat is breaded and fried before having a luxurious silky curry sauce slathered all over it.</p>
                    </div>
                  </div>
            
                  <div class="recipe-card" >
                    <a href="/sweet"><img class="card-image" src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/recipe-image-legacy-id-106535_11-94ac938.jpg?quality=90&webp=true&resize=300,272"></a>
                    <div class="card-content">
                      <h5 class="title">Hazelnut gelato with rich chocolate sauce</h5>
                      <p class="text"> During the winter months, rich, creamy hazelnut is a particularly good flavour for ice cream. Yum Yum!</p>
                    </div>
                  </div>
            
                  <div class="recipe-card" >
                    <a href="/side"><img class="card-image" src="https://www.thespruceeats.com/thmb/Cw0RGpT-P-QbRtMYVa6BCRr9fVk=/2048x1152/smart/filters:no_upscale()/buttery-southern-fried-corn-3054343-10_preview-5b19856e8023b90036484a2b.jpeg"></a>
                    <div class="card-content">
                      <h5 class="title">Spicy Corn</h5>
                      <p class="text">This easy, spicy corn salsa is the perfect dish to serve with chips or to serve on or alongside grilled meat as a light, healthy side dish.</p>
                    </div>
                  </div>
            
                  <div class="recipe-card" >
                    <a href="/sweet"><img class="card-image" src="https://www.garnishwithlemon.com/wp-content/uploads/2019/03/Lemon-Cheesecake-Bars-1-of-3-800x1200.jpg"></a>
                    <div class="card-content">
                      <h5 class="title">Luscious lemon baked cheesecake</h5>
                      <p class="text">Not too difficult to make and if you’re after something creamy but zesty then this is the one to go for. Put it on your "to bake" list!</p>
                    </div>
                  </div>

                  <div class="recipe-card" >
                    <a href="/sweet"><img class="card-image" src="https://www.bakefromscratch.com/wp-content/uploads/2021/03/Technique-605JB.jpg"></a>
                      <div class="card-content">
                      <h5 class="title">Ultimate meringue</h5>
                      <p class="text">They’re much lighter than a regular dessert and make a delicious addition to an afternoon tea spread. Just thinking about munching on a crunchy sweet meringue is my idea of bliss!</p>
                  </div>
                  </div>

                  <div class="recipe-card" >
                    <a href="/sweet"><img class="card-image" src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/fools-a48cee6.jpg?quality=90&webp=true&resize=300,272"></a>
                      <div class="card-content">
                      <h5 class="title">Blackberry & lemon fool</h5>
                      <p class="text"> A creamy concoction of plump, juicy blackberries and fluffy whipped cream will have you licking the spoon clean! This easy to make recipe is pretty much foolproof !!!</p>
                  </div>
                  </div>

                  <div class="recipe-card" >
                    <a href="/sweet"><img class="card-image" src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/chocolate-tiffin-0d5ad52.jpg?quality=90&webp=true&resize=300,272"></a>
                      <div class="card-content">
                      <h5 class="title">Chocolate tiffin</h5>
                      <p class="text">Chocolate Tiffin is a no-bake chocolate refrigerator cake full of chocolate, cherries and raisins and topped with chocolate.</p>
                  </div>
                  </div>

                  <div class="recipe-card" >
                    <a href="/sweet"><img class="card-image" src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/quick-and-easy-tiramisu_0-608834a.jpg?quality=90&webp=true&resize=300,272"></a>
                      <div class="card-content">
                      <h5 class="title">Quick & easy tiramisu</h5>
                      <p class="text">Hey..Who don't fall for a tiramisu?? This recipe is easy to prepare, requires no baking, and you can make it ahead of time. </p>
                  </div>
                  </div>

                  <div class="recipe-card" >
                    <a href="/savoury"><img class="card-image" src="https://static01.nyt.com/images/2019/09/18/dining/sd-slow-cooker-hot-honey-ribs/sd-slow-cooker-hot-honey-ribs-articleLarge.jpg"></a>
                      <div class="card-content">
                      <h5 class="title">Grilled Pork Spareribs With Soda Bottle Barbecue Sauce</h5>
                      <p class="text">There is nothing better than letting your oven do all the work for you, while smelling the incredible BBQ pork aromas drifting all through the house!</p>
                  </div>
                  </div>

                  <div class="recipe-card" >
                    <a href="/savoury"><img class="card-image" src="https://images.ctfassets.net/uexfe9h31g3m/5T1UMYRjHOS2cAAgiUY82M/8a81c6071a77afd2239425714dd79b09/Lasagne_1024x768.jpg?w=2000&h=2000&fm=jpg&fit=thumb&q=90&fl=progressive"></a>
                      <div class="card-content">
                      <h5 class="title">Lasagne</h5>
                      <p class="text">One of the most loved foods in the world is finally here! This is a traditional Italian Lasagne! It is the sort of food that is like a big warm hug, and so more-ish you want to keep digging in until you burst.</p>
                  </div>
                  </div>

                  <div class="recipe-card" >
                    <a href="/savoury"><img class="card-image" src="https://www.flavcity.com/wp-content/uploads/2018/06/meatballs-tomato-sauce.jpg"></a>
                      <div class="card-content">
                      <h5 class="title">Italian Baked Meatballs</h5>
                      <p class="text">This meatballs recipe is crowd-pleasing comfort food at its absolute best.</p>
                  </div>
                  </div>

                  <div class="recipe-card" >
                    <a href="/side"><img class="card-image" src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/semolina-roast-potatoes-b9d03d7.jpg?quality=90&webp=true&resize=300,272"></a>
                    <div class="card-content">
                      <h5 class="title">Semolina roast potatoes with garlic & thyme</h5>
                      <p class="text">The humble roast potato. So simple, yet little tricky to get absolutely perfect. These garlic lemon & thyme roast potatoes are an absolute winner. Full of flavour, crispy and crunchy on the outside and creamy and soft on the inside.</p>
                    </div>
                  </div>

                  <div class="recipe-card" >
                    <a href="/side"><img class="card-image" src="/images/hummus.jpg"></a>
                    <div class="card-content">
                      <h5 class="title">Hummus</h5>
                      <p class="text">The best hummus is lusciously creamy, yet somehow light and fluffy. It’s beautifully smooth and swirled, and begging to be scooped up onto a wedge of pita bread. </p>
                    </div>
                  </div>

                  <div class="recipe-card" >
                    <a href="/side"><img class="card-image" src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/tomatostew-f61ebd0.jpg?quality=90&webp=true&resize=300,272"></a>
                    <div class="card-content">
                      <h5 class="title">Tomato & courgette stew</h5>
                      <p class="text">Humble ingredients make for big flavours in this super simple one-pot meal. This dish is great to make when you don’t have much in the house. In just about 30 minutes you’ll see how a couple of canned goods can be transformed into a healthy, hearty and delicious meal.</p>
                    </div>
                  </div>

                  <div class="recipe-card" >
                    <a href="/side"><img class="card-image" src="https://www.lordbyronskitchen.com/wp-content/uploads/2016/03/1-5.jpg"></a>
                    <div class="card-content">
                      <h5 class="title">Japanese Chicken Wings</h5>
                      <p class="text">So good and unbelievably easy to make, they will be the wings on repeat for all your parties, game days or lazy Sunday dinners.</p>
                    </div>
                  </div>

                  <div class="recipe-card" >
                    <a href="/side"><img class="card-image" src="https://www.justonecookbook.com/wp-content/uploads/2019/09/Homemade-miso-soup-6037-I-3.jpg"></a>
                    <div class="card-content">
                      <h5 class="title">Miso Soup</h5>
                      <p class="text">It’s super easy to make authentic Japanese miso soup at home! As the daily elixir of the Japanese diet, homemade miso soup is not only delicious but also brings many great health benefits.</p>
                    </div>
                  </div>

            </section>
            
            
        <%- include('../views/partials/footer.ejs') %>
</body>
</html>